.loading {
  clear: both;
}

.instructions {
  float: left;
  width: 20vw;
  margin-left: 2vw;
}

.map {
  margin: 0 2% 2% 2%;
  float: right;
}

#red {
  color: rgb(255, 0, 0);
}

#green {
  color: rgb(0, 255, 0);
}

.comma {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: auto;
}

.link {
  float: right;
  font-size: .8em;
  padding: 10px;
  margin-right: 2%;
  text-decoration: none;
  color: #3579DC;
}

.link:hover {
  color: #7EB6FF;
}
